# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Databases
*.db
chroma/

# ML/Experiments
mlruns/
*.onnx
*.pt
*.h5

# OS
.DS_Store
Thumbs.db
